/* body{
    background-color: #F57E20;
} */
.container{
    background-color: #2F2E36;
   
    width: 280px;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 80px;
   border-radius: 9px;
   text-align: center;
   
 

}
.container label{
  color: rgb(137, 150, 82);
  font-size: 24px;
  /* font-weight: bold; */
 
}
.container form  a:hover{
 /* border-bottom: 1px solid; */
 color: #339988;
}

.container a{
  color: #817b55;
  text-decoration: none;
}
input{
    background-color: rgba(255, 252, 252, 0.199);

    border-radius: 9px;
    width: 250px;
    padding: 8px;
    margin-top: 14px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: #FDC917;
   

}
input::placeholder{
    color: #EEDD82;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: bold;
    opacity: 0.8;
    
  

    
}
input{
    color: white;
}
input.submit{
    /* background-color: rgba(0, 0, 0, 0.199); */
    background-color: #fdc7176b;
    color: white;
}
input.submit:hover{
    /* background-color: #0d2c27bd; */
    color: #0d2c27;
    font-weight: bold;
}
em{
    font-size: 14px;
    color: #FDC917;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* body {
    background-color: #e74c3c;
    animation: bg-color 10s infinite;
  }
  @keyframes bg-color {
    0% { background-color: #e74c3c; }
    20% { background-color: #f1c40f; }
    40% { background-color: #1abc9c; }
    60% { background-color: #3498db; }
    80% { background-color: #9b59b6; }
    100% { background-color: #e74c3c; }
  }
  
  p {
    font-family: Meiryo, "Hiragino Kaku Gothic Pro W3",sans-serif;
    text-align: center;
    margin-top: 150px;
    color: #fff;
  } */

  html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-20deg, rgb(255, 187, 0) 50%, #000 50%);
    bottom:0;
    left:-100%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

 
