<link rel="stylesheet" href="/css/form.css">
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container">
   


    <form action="/login" method="post">
        <label for=""> Log in to your account</label><br><br>
       <input type="Gmail" name="Gmail" placeholder="Gmail"required><br>
       
       <input type="Password" name="Password" placeholder="Password"><br>
       
       <input class="submit" type="submit" value="Log in"><br><br>
      
        
      <em>Don't have an account?  <a href="/registral">Sign Up</a></em> <br><br><br>
  
      <div class="img">
        <a href="/auth/google">  <img src="/img/155860-logo-official-google-free-download-png-hq.png" width="110px"> <br>
        <a href="/auth/facebook">  <img src="/img/facebook-6786210_1280.webp" width="110px"> 
        </a>
    </div>
      </form><br>
      
</div> <br> 

