<link rel="stylesheet" href="/css/form.css">
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container">
   


    <form action="/login" method="post">
       <input type="Gmail" name="Gmail" id=""placeholder="Gmail"required><br>
       
       <input type="Password" name="Password" id=""placeholder="Password"><br>
       
       <input class="submit" type="submit" value="Login"><br><br>
      
        
      <em>New to GitHub? <a href="/registral">Create an account </a></em> 
  
        
      </form><br>
  
</div>