<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
<link rel="stylesheet" href="/css/form.css">

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
    <div class="container">
    


        <form action="/register" method="post">
          
           
        
          
           <input type="text" name="Name" id=""placeholder="Name"required><br>
           
           <input type="text" name="Lname" id=""placeholder="Lname"required><br>
           
           <input type="Gmail" name="Gmail" id=""placeholder="Gmail"required><br>
           
           <input type="Password" name="Password" id=""placeholder="Password"><br>
    
           
           <input class="submit" type="submit" value="Registre"><br><br>
          
           <!-- <div class="g-recaptcha" data-sitekey="6LdyxSgoAAAAAMqzqHkMNbRcASgO-GqurhRKKdVi"></div> -->
           
           <em>Already have an account? <a href="/login">Signin now</a></em>
        
           
          </form>
     
    </div>


